%body.landing
  #page-wrapper
    / Header
    %header#header
      %h1#logo
        %a{:href => "index.html"} BingBites
      %nav#nav
        %ul
          %li
            %a.button.special{:href => "#"} Sign In
          %li
            %a.button.special{:href => "#"} Sign Up
    / Banner
    %section#banner
      .content
        %header
          %h2 BingBites
          %p
            Just food. Loads of lip licking Delicacies, Happiness.
            %br/
            There are no hoverboards or flying cars around.
            %br/
            Yet there's an easy way to find quick-lunch.
        %span.image
          = image_tag "pic01.jpg"
      %a.goto-next.scrolly{:href => "#one"} Next
    / One
    %section#one.spotlight.style1.bottom
      %span.image.fit.main
        = image_tag "pic02.jpg"
      .content
        .container
          .row
            .4u{:class => "12u$(medium)"}
              %header
                %h2 Welcome to BingBites
                %p
                  Stay hungry. Stay foolish
                  %br/
                  So how it works ?
            .4u{:class => "12u$(medium)"}
              %ul
                %li SignIn to search the restaurants
                %li Pick the restaurant from the list
                %li Choose from the available categories
                %li Browse exhaustive list of cousines
                %li Find out Specialities Served for the day
                %li Review what you liked and what you didn't
            %div{:class => "4u$ 12u$(medium)"}
              %p
                We are trying to redefine how you search for food
                in the locality. Our goal is to serve you delicious 
                food with events and seasonal specialties.
                %br/
                Do you love pleasant ambiance and peculiar meal 
                that matches your taste of food for your mood?
                BingBites finds it for you at your fingertips.


      %a.goto-next.scrolly{:href => "#two"} Next
    / Two
    %section#two.spotlight.style2.right
      %span.image.fit.main
        = image_tag "pic03.jpg"
      .content
        %header
          %h2 Enabling restaurants to create amazing experiences.
          %p Every restaurant we listed is a speciality in itself providing services to bring you delight.
        %p With dedicated engagement and collaboration tools, we're enabling restaurants to spend more time focusing on food itself, which translates directly to better dining experiences.
        %ul.actions
          %li
            %a.button{:href => "#"} Learn More
      %a.goto-next.scrolly{:href => "#three"} Next
    / Three
    %section#three.spotlight.style3.left
      %span.image.fit.main.bottom
        = image_tag "pic04.jpg"
      .content
        %header
          %h2 Helping people discover great places around them.
          %p Building amazing experiences around dining.
        %p Our team gathers information from every restaurant on a regular basis to ensure our data is fresh. Our vast community of food lovers share their reviews and photos, so you have all that you need to make an informed choice.
        %ul.actions
          %li
            %a.button{:href => "#"} Learn More
      %a.goto-next.scrolly{:href => "#four"} Next
    / Four
    %section#four.wrapper.style1.special.fade-up
      .container
        %header.major
          %h2 The Team
          %p
            We are
            = succeed "," do
              %code Coders
            Fun People,
            = succeed "," do
              %code Geeks
            Party Animals
        .box.alt
          .row.uniform
            %section.4u{:class => "6u(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-gg-circle
              %h3 Suyog Nerkar
              %p
                %a.no-decoration{:href => "http://github.com/suyogrnerkar"}
                  %span.label THE CHIEF MONK @ GITHUB
            %section.4u{:class => "6u$(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-comment
              %h3 Debashish Majumdar
              %p Feugiat accumsan lorem e
            %section{:class => "4u$ 6u(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-flask
              %h3 Pranav Garje
              %p Florem eu ac lorem amet accumsan
            %section.3u{:class => "6u$(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-paper-plane
              %h3 Abhijit Bhandarkar
              %p accumsan donec. Blandit orci porttitor.
            %section.3u{:class => "6u(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-file
              %h3 Vaibhav Acharya
              %p rci porttitor.
            %section.3u{:class => "6u(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-file
              %h3 Uddhav Mhatre
              %p dit orci porttitor.
            %section{:class => "3u$ 6u$(medium) 12u$(xsmall)"}
              %span.icon.alt.major.fa-lock
              %h3 Kiran Kadam
              %p donec. Blandit orci porttitor.
        %footer.major
          %ul.actions
            %li
              %a.button{:href => "#"} Know More
    / Five
    %section#five.wrapper.style2.special.fade
      .container
        %header
          %h2 Get started with BingBites, Absolutely Free !
          %p Enter your email to get sign up.
        %form.container{:action => "#", :class => "50%", :method => "post"}
          .row.uniform{:class => "50%"}
            .8u{:class => "12u$(xsmall)"}
              %input#email{:name => "email", :placeholder => "Your Email Address", :type => "email"}/
            %div{:class => "4u$ 12u$(xsmall)"}
              %input.fit.special{:type => "submit", :value => "Get Started"}/
    / Footer
    %footer#footer
      %ul.icons
        %li
          %a.icon.alt.fa-twitter{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.alt.fa-facebook{:href => "https://www.facebook.com/BingBites-737339629772865/"}
            %span.label Facebook
        %li
          %a.icon.alt.fa-linkedin{:href => "#"}
            %span.label LinkedIn
        %li
          %a.icon.alt.fa-instagram{:href => "https://www.instagram.com/bingbites"}
            %span.label Instagram
        %li
          %a.icon.alt.fa-github{:href => "https://github.com/BingBites/bingbites"}
            %span.label GitHub
        %li
          %a.icon.alt.fa-envelope{:href => "#"}
            %span.label Email
      %ul.copyright
        %li © BingBites. All rights reserved.
  / Scripts
  /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>