.container
  .span12
    .row
      %h2.text-center
        = "Edit details of #{@eatery.name}"
      .col-sm-6
        = render 'form'
        .form-group
          = link_to 'Back', eateries_path, method: :get, class: 'btn btn-primary'
          |
          = link_to 'Create', new_eatery_path, class: 'btn btn-info'
          |
          = link_to 'Delete', eatery_path(@eatery), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger'
      .col-sm-6
        .form-group.float-right
          .map#map.mapNewAdd