%p#notice= notice
%p
  Welcome to, 
  %strong= @eatery.name.upcase
%p
  %strong Address:
  = @eatery.address
%p
  %strong Category:
  = @eatery.category ? @eatery.category.name.titleize : 'No Category'
.map
  #map
= link_to 'Edit', edit_eatery_path(@eatery)
|
= link_to 'Back', root_path, method: :get
|
= link_to 'Delete', eatery_path(@eatery), method: :delete, data: { confirm: "Are you sure?"}
